.colors-area {
  display: flex;
  flex-direction: column;
}

.colors-display {
  display: flex;
}

.changer {
  display: flex;
}

.color-square {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  margin-left: 2px;
}

.select {
  border: 2px solid cyan;
}